<IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /project/

# Nếu file hoặc thư mục không tồn tại, chuyển hướng request về index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
</IfModule>
